@page "/Delete/{OrderId}"
@using CMPG223.Dtos
@inject OrdersServices ordersServices
@inject NavigationManager NavigationManager


<h2>Delete Order</h2>
<hr />
<h3>Are you sure want to delete this?</h3>
<form>
    <div class="row">
        <div class=" col-md-8">
            <div class="form-group">
                <label>Order Id:</label>
                <label>@obj.OrderId</label>
            </div>
            <div class="form-group">
                <label>Order Number:</label>
                <label>@obj.OderNumber</label>
            </div>
            <div class="form-group">
                <label>Date Placed:</label>
                <label>@obj.DatePlaced</label>
            </div>
            <div class="form-group">
                <label>Date Received:</label>
                <label>@obj.DateRecieved</label>
            </div>
            <div class="form-group">
                <label>Requested by:</label>
                <label>@obj.PlacedById</label>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-danger" @onclick="@DeletethisOrder" value="Delete" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>






@code
{
    [Parameter]
    public string OrderId { get; set; }
    OrderDto obj = new OrderDto();
    protected override async Task OnInitializedAsync()
    {
        obj = await Task.Run(() => ordersServices.GetOrderAsync(Convert.ToInt32(OrderId)));
    }
    protected async void DeletethisOrder()
    {
        await ordersServices.DeleteOrderAsync(obj);
        NavigationManager.NavigateTo("Orders");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Orders");
    }
}