@page "/employees"
@using CMPG223.Models
@using CMPG223.Services
@using CMPG223.Dtos
@using CMPG223.Controllers
@inject IEmployeeController _employeeController
<h3>Employees</h3>

@if (_employees == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Role</th>
            <th>Is Active</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var employee in _employees)
        {
            <tr>
                <td>@employee.Name</td>
                <td>@employee.Surname</td>
                <td>@employee.Role.RoleName</td>
                <td>@employee.IsActive</td>
                <td>
                    <button @onclick="@(() => Edit(employee))">Edit</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
<div hidden="@_isEditHidden">
    <p>Test</p>
</div>

@code {
    private bool _isEditHidden = true;
    private List<EmployeeDto> _employees;
    private EmployeeDto _selectedEmployee = new EmployeeDto();

    protected override async Task OnInitializedAsync()
    {
        _employees = await _employeeController.GetEmployeeRoles();
    }

    void Edit(EmployeeDto employee)
    {
        _selectedEmployee = employee;
        _isEditHidden = false;
    }

}