@page "/orders"
@using CMPG223.Dtos
@inject OrdersServices ordersServices
@inject NavigationManager NavigationManager

<h3>Orders</h3>
<NavLink class="nav-link" href="addorder">
    <span class="oi oi-plus" aria-hidden="true">Add New Orders</span>

</NavLink>

@if (OrderObj == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Order Number</th>
                <th>Date Requested</th>
                <th>Date Received</th>
                <th>Requested By</th>

            </tr>
        </thead>

        <tbody>
            @foreach (var st in OrderObj)
            {
                <tr>
                    <td>
                        @st.OrderId
                    </td>
                    <td>
                        @st.OderNumber
                    </td>
                    <td>
                        @st.DatePlaced
                    </td>
                    <td>
                        @st.DateRecieved
                    </td>
                    <td>
                        @st.PlacedById
                    </td>
                    <td>
                        <a class="nav-link" href="EditOrder/@st.OrderId">
                            <span class="oi oi-pencil" aria-hidden="true">Edit</span>
                        </a>
                        <a class="nav-link" href="Delete/@st.OrderId">
                            <span class="oi oi-trash" aria-hidden="true">Delete</span>
                        </a>
                    </td>
                </tr>
            }

        </tbody>



    </table>
   
}

@code {

    List<OrderDto> OrderObj;
    protected override async Task OnInitializedAsync()
    {
        OrderObj = await Task.Run(() => ordersServices.GetAllOrdersAsync());
    }

   
}