@page "/orders"
@using CMPG223.Controllers
@using CMPG223.Dtos
@using CMPG223.Models
@inject ISOrderController _orderController


<h3>Orders</h3>


<table class="table">
    <thead>
        <tr>
            <th>Requested By</th>
            <th>Order Number</th>
            <th>Date Requested</th>
            <th>Date Received</th>
            <th>Customer Address</th>
            <th>Supplier Name</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var st in _order)
        {
            <tr>
                <td>
                     @st.Placedbyid
                </td>
                <td>
                   @st.OrderNumber
                </td>
                <td>
                   @st.DatePlaced
                </td>
                <td>
                    @st.DateRecieved
                </td>

                <td>
                    <MudButton @onclick="@(() => Edit(st))" Variant="Variant.Filled" Color="Color.Primary">Save</MudButton>
                </td>
            </tr>
        }
    </tbody>

</table>


@code {

    bool _noUpdate = true;
    bool _success;
    private OrderDto _newOrder = new();
    private OrderDto SelectedOrder { get; set; }
    private List<SupplierDto> _suppliers;
    private List<EmployeeDto> _employee;
    private List<OrderDto> _order;
    private List<OrderDetailsDto> orderDetailsDtos;

    async Task Edit(OrderDto order)
    {
        SelectedOrder = order;
        var success = await _orderController.UpdateOrder(SelectedOrder);
        await FinishUpdate((success));
    }
    private async Task FinishUpdate(bool success)
    {
        _noUpdate = false;
        _success = success;

        
    }

}